/*

------------ Custom CSS -----------

author  : Akbar Rafsanjani
url     : www.wearekhz.com

-----------------------------------     */

body, html {
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
    color: #2c3e50;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}

.border{border-bottom: 4px solid #e67e22;}

#menu {
	padding: 10px 20px 7px 20px;
	transition: all 0.8s;
    border: none; border-radius: 0px;
    font-family: 'Roboto';
    box-shadow: 0px 5px 0px #e67e22;
}

#menu a.navbar-brand {
	font-family: 'Roboto', cursive;
	font-size: 36px;
	color: #e67e22;
	font-weight: 700;
    padding: 0px;
}

#menu .navbar-header{
    padding-bottom: 10px;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #34495e;
	font-weight: 500;
	font-size: 15px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 10px 15px 0 15px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #e67e22;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #e67e22 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #e67e22;
	border-color: #e67e22;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}

/*---------------------------------------------------------------------------------------------*/

#hero{
    height: 700px;
}

.herooverlay{
    background-color: rgba(0,0,0,.6);
    height: 100%;
}

/*-------------------------------------------------------------------------------------------*/

#layanan{
    background-color: #eee;
}

#layanan .panel{
    height: 250px;
}

/*-----------------------------------------------------------------------------------------*/

#paket-tour .overlay{
    background-color: rgba(40,100,150,.8);
}

#paket-tour button{
    margin-top: 10px;
}

#paket-tour .panel{
    height: 250px;
}



/*----------------------------------------------------------------------------------------*/
#choose{
    background-repeat: no-repeat; background-size: cover;
    background-position: top; 
}

#choose .overlay{
    background-color: rgba(0,0,0,.8);
}

#choose h2{
    text-transform: uppercase;
    color: #fff;
    padding-top: 30px;
}

#choose .border{
    margin-bottom: 30px;
}

#choose a{
    
    border: 2px solid #fff;
    border-radius: 0px;
    padding: 15px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}